nav.navigation
	ul.navigation__list
		//- li.navigation__item
		//- 	a.navigation__link.slowly(href=".header") Home
		li.navigation__item
			a.navigation__link.slowly(href=".offer") What We Offer
		li.navigation__item
			a.navigation__link.slowly(href=".gallery") Gallery
		li.navigation__item
			a.navigation__link.slowly(href=".about") About Us
		li.navigation__item
			a.navigation__link.slowly(href=".testimonials") Testimonials
		li.navigation__item
			a.navigation__link.slowly(href=".contact") Contact Us
