section.s-about
	.about.lazy(data-src='static/images/content/about/img1.jpg')
		.container
			.about__content
				.about__header
					h2.about__title.s-title MOUNTAIN SNOWBOARD SCHOOL
				p.about__text
					| We’re not saying Snow Mountain has special powers, but a lot of magical things do happen here. The slopes on Bald and Dollar mountains enjoy a nearly lift line–free existence all winter long, not to mention a nearly cloud-free one.To those who wish to experience the best holiday time ever, we are excited to offer unlimited fun on the slopes, homey cosiness, wonderful views and snow activities. All this selection is presented in a great variety for any taste, age and skill. We are looking forward to seeing you in Snow Mountain ski resort at new season!
				.about__number
					.about__number-col
						span.about__number-num 1600
						span.about__number-text HAPPY CLIENTS
					.about__number-col
						span.about__number-num 18
						span.about__number-text PROFESSIONAL AWARDS
					.about__number-col
						span.about__number-num 213
						span.about__number-text REACHED TOPS