section.s-comment
	.comment.testimonials
		.container
			h2.comment__title.s-title TESTIMONIALS
			.comment__slider
				.comment__item
					.comment__content
						.comment__client
							+icon('quote-left', 'comment__icon-quote-left')
							+icon('quote-right', 'comment__icon-quote-right')
							.comment__client-img
								img(data-lazy="static/images/content/comment/img1.jpg", alt="user")
							span.comment__client-name alexa smith
						.comment__text
							| Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class aptent taciti sociosqu ad litora torquent per conubia nostra.
				.comment__item
					.comment__content
						.comment__client
							+icon('quote-left', 'comment__icon-quote-left')
							+icon('quote-right', 'comment__icon-quote-right')
							.comment__client-img
								img(data-lazy="static/images/content/comment/img1.jpg", alt="user")
							span.comment__client-name SAM SMITH
						.comment__text
							| Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class aptent taciti sociosqu ad litora torquent per conubia nostra.
				.comment__item
					.comment__content
						.comment__client
							+icon('quote-left', 'comment__icon-quote-left')
							+icon('quote-right', 'comment__icon-quote-right')
							.comment__client-img
								img(data-lazy="static/images/content/comment/img1.jpg", alt="user")
							span.comment__client-name ALEX MARTIN
						.comment__text
							| Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class aptent taciti sociosqu ad litora torquent per conubia nostra.
				.comment__item
					.comment__content
						.comment__client
							+icon('quote-left', 'comment__icon-quote-left')
							+icon('quote-right', 'comment__icon-quote-right')
							.comment__client-img
								img(data-lazy="static/images/content/comment/img1.jpg", alt="user")
							span.comment__client-name ALEX SMITH
						.comment__text
							| Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class aptent taciti sociosqu ad litora torquent per conubia nostra.
				.comment__item
					.comment__content
						.comment__client
							+icon('quote-left', 'comment__icon-quote-left')
							+icon('quote-right', 'comment__icon-quote-right')
							.comment__client-img
								img(data-lazy="static/images/content/comment/img1.jpg", alt="user")
							span.comment__client-name  SAM SMITH
						.comment__text
							| Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat condimentum velit class aptent taciti sociosqu ad litora torquent per conubia nostra.