section.s-gallery
	h2.visually-hidden gallery
	.gallery
		.gallery__row
			.gallery__col
				picture
					img(data-src="static/images/content/gallery/img-s2.jpg", alt="gallery").lazy
				picture
					img(data-src="static/images/content/gallery/img-l1.jpg", alt="gallery").lazy
			.gallery__col
				picture
					img(data-src="static/images/content/gallery/img-s1.jpg", alt="gallery").lazy
				picture
					img(data-src="static/images/content/gallery/img-m1.jpg",	alt="gallery").lazy
				picture
					img(data-src="static/images/content/gallery/img-es1.jpg", alt="gallery").lazy
			.gallery__col
				picture
					img(data-src="static/images/content/gallery/img-l2.jpg", alt="gallery").lazy
				picture
					img(data-src="static/images/content/gallery/img-s3.jpg", alt="gallery").lazy