section.s-instructors
	.instructors
		.container
			h2.instructors__title.s-title MEET OUR CREW
			.instructors__row
				.instructors__col
					picture
						img(data-src="static/images/content/instructors/img1.jpg", alt="instructor").instructors__img.lazy
					span.instructors__prof Instructor
					a(href="#").instructors__name Jamie Garcia
				.instructors__col
					picture
						img(data-src="static/images/content/instructors/img2.jpg", alt="instructor").instructors__img.lazy
					span.instructors__prof Instructor
					a(href="#").instructors__name JAMES BILLINGS
				.instructors__col
					picture
						img(data-src="static/images/content/instructors/img3.jpg", alt="instructor").instructors__img.lazy
					span.instructors__prof Instructor
					a(href="#").instructors__name PETER COLINS
				.instructors__col
					picture
						img(data-src="static/images/content/instructors/img4.jpg", alt="instructor").instructors__img.lazy
					span.instructors__prof Instructor
					a(href="#").instructors__name Amanda Lee