header.header
	include ../top-line/top-line
	.header__circle
	.header__message
		span.header__directions SKI &amp; SNOWBOARD school
		h1.header__title Stay &amp; Ski
	.container
		.header__desc
			p.header__text 
				| The countdown to ski season has begun! So, it is high time to improve your skills to have maximum fun this winter
			a(href="#").header__btn.btn.btn--large online booking
	.header__mountains(data-speed="0.01" data-revert="true")
	.header__heel(data-speed="0.01")
	.header__bootom
	.header__boarder(data-speed="0.02")
	.header__composition